# Environnement virtuel
.venv/
venv/

# Python
__pycache__/
*.pyc

# Tests
.pytest_cache/
.coverage
pytest
htmlcov/

# Jupyter
.ipynb_checkpoints/

# Modèles

# Jeu de donnée
.csv
# Données lourdes
dataset/

# Logs
*.log

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db